<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento Concluido</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        body{
            font-family: 'Open Sans', sans-serif;

            background: rgb(18, 18, 18);
        }
        h2 {
            color: white;
            font-size: 30px;
            text-align: center;
            padding: 2% 0;
            
        }
        p {
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="topper" style="background: black;">

        <div class="logo">
            <img src="/img/logo.png" alt="">
        </div><!--logo-->
        <nav>
          <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li><a href="/">Início</a></li>
            <li><a onclick="galeria()">Galeria</a></li>
            <li><a onclick="servicos()">Serviços</a></li>
            <li><a href="/login">Entrar</a></li>
          </ul>
        </nav>
        <div class="icons">
            <a href="https://api.whatsapp.com/send/?phone=5581998234779&text&type=phone_number&app_absent=0"><img src="/img/whatsapp.png" alt=""></a>
            <a href="https://www.instagram.com/brunobarberr_/"><img src="/img/instagram.png" alt=""></a>
        </div>
        <img  class="bar" src="img/cardapio.png" alt="">

    </div><!--topper-->

    <br><br><br><br>
    <h2>Agendamento Concluido!</h2>
    <p>Obrigado pela preferência.</p>
    <script src="js/script.js"></script>
</body>
</html>